.container > .footer-link {
  color: #5aacdc;
  transition: filter 0.2s;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #5aacdc
}

.container > .footer-link:hover {
  color: #5aacdc;
  filter: brightness(85%);
}
